body {
    background-color: aquamarine;
    font-size: 25px;
}
main{
    margin: 100px;
}
input, .btn {
    font-size: 20px;
    padding: 16px;
    border-radius: 10px;
}
.btn {
    background-color: brown;
    color: white;
}
#display-data,#collect-data {
border: 2px solid black;
 padding: 25px 100px;
}
ul {
    background-color: white;
}